@charset "utf-8";
/* CSS Document */

@font-face {
  font-style: normal; font-family: "Orbitron";
  src: url("../font/Orbitron.woff") format("woff");
}

body {
  color: #CCC;
  background: url(../img/bodyBG.jpg) repeat;
  width: 100%;
  min-width: 960px;
  margin: auto;
}
a { text-decoration: none; }
header {
  width: inherit;
  height: 160px;
}
header section {
  width: inherit;
  height: 160px;
  position: fixed;
  box-shadow: 0 0 20px #000;
  background: url(../img/headerBG.png) repeat-x;
  border-bottom: 1px solid rgba(192,16,8,0.5);
  z-index: 100;
}
header section a {
  right: 10%;
  position: fixed;
}
header section a#heading {
  top: 24px;
  color: rgba(16,0,0,0.5);
  text-shadow: 0 0 10px rgba(255,255,255,0.25);
  font: 80px/96px "Arial Black", Gadget, sans-serif;
}
header section a#heading:hover {
  color: rgba(0,0,0,0.5);
}
header section a#detail {
  top: 108px;
  padding: 5px 20px 8px;
  color: rgba(240,248,255,0.5);
  background: rgba(32,8,4,0.5);
  border-radius: 5px;
  font: 20px/20px Orbitron;
  word-spacing: 5px;
  letter-spacing: 2px;
}
header section a#detail:hover {
  color: #dcc;
  text-shadow: 0 0 5px #fff;
}
header nav {
  top: 161px;
  right: 10%;
  float: right;
  padding: 10px 10px 8px;
  position: fixed;
  text-align: right;
  box-shadow: 0 0 20px #000;
  text-shadow: 0 0 5px #000, 0 0 10px #000;
  border-radius: 0 0 8px 8px;
  background: rgba(192,16,8,0.5);
  border: 2px solid rgba(160,16,8,0.25);
  z-index: 10;
}
header nav a {
  color: #CCC;
  padding: 8px 20px;
  font: 16px Verdana, Geneva, sans-serif;
}
header nav a:hover {
  color: #eee;
  text-shadow: 0 0 10px #fff, 0 0 20px #fff;
}
aside {
  height: 67%;
  width: 320px;
  margin: auto 5%;
  position: fixed;
  background: url(../img/teaserLogo.png) 50% no-repeat;
}
article {
  color: #999;
  width: 640px;
  float: right;
  padding: 96px 0;
  margin-right: 10%;
  position: relative;
  font: 16px/24px Verdana, Geneva, sans-serif;
  text-indent: 80px;
  text-shadow: -1px -1px 1px #000, 1px 1px 1px #000;
}
article ul { padding: 0; }
article ul li { list-style: none; font: 12px/16px Verdana, Geneva, sans-serif; }
article a { color: #c33; }
footer {
  bottom: 0;
  width: inherit;
  height: 72px;
  position: fixed;
  box-shadow: 0 0 20px #000, inset 0 -25px 50px rgba(0,0,0,0.5);
  background: url(../img/footerBG.jpg) repeat-x;
  border-top: 2px solid rgba(160,96,8,0.25);
}
footer p {
  color: #a96;
  text-align: center;
  text-shadow: 0 0 2px #000;
  font: 10px/20px Verdana, Geneva, sans-serif;
}
footer p a {
  color: #cba;
}
