@charset "utf-8";
/* CSS Document */

body {
  color: #CCC;
  background: url(../img/bodyBG.jpg) repeat;
  width: 100%;
  margin: auto;
}
header {
  width: inherit;
  height: 160px;
  position: absolute;
  box-shadow: 0 0 20px #000;
  background: url(../img/headerBG.png) repeat-x;
  border-bottom: 1px solid rgba(192,16,8,0.5);
  z-index: 100;
}
header nav {
  top: 161px;
  left: 50%;
  right: 25%;
  width: 40%;
  float: right;
  padding: 8px 10px;
  position: absolute;
  text-align: right;
  box-shadow: 0 0 20px #000;
  border-radius: 0 0 8px 8px;
  background:  rgba(192,16,8,0.5);
  border-left: 3px solid rgba(192,16,8,0.25);
  border-right: 3px solid rgba(192,16,8,0.25);
  border-bottom: 3px solid rgba(192,16,8,0.25);
  z-index: 10;
}
header nav a {
  color: #CCC;
  padding: 8px 20px;
  text-decoration: none;
  font: 16px Verdana, Geneva, sans-serif;
}
header nav a:hover { color: #eee; text-shadow: 0 0 10px #fff, 0 0 20px #fff; border-radius: 2px; }
