@charset "utf-8";

body {
  color: #ccc;
  width: 100%;
  min-width: 960px;
  margin: auto;
  background: url(../img/bodyBG.jpg) repeat;
}
a { text-decoration: none; }
aside {
  height: 67%;
  width: 320px;
  margin: auto 5%;
  position: fixed;
  background: url(../img/teaserLogo.png) 50% no-repeat;
}
article {
  color: #999;
  width: 640px;
  float: right;
  padding: 96px 0;
  margin-right: 10%;
  position: relative;
  font: 16px/24px Verdana, Geneva, sans-serif;
  text-indent: 80px;
  text-shadow: -1px -1px 1px #000, 1px 1px 1px #000;
}
article ul { padding: 0; }
article ul li { list-style: none; font: 12px/16px Verdana, Geneva, sans-serif; }
article a { color: #c33; }
