@charset "utf-8";

footer {
  bottom: 0;
  width: inherit;
  height: 72px;
  position: fixed;
  box-shadow: 0 0 20px #000, inset 0 -25px 50px rgba(0,0,0,0.5);
  background: url(../img/footerBG.jpg) repeat-x;
  border-top: 2px solid rgba(160,96,8,0.25);
}
footer p {
  color: #a96;
  text-align: center;
  text-shadow: 0 0 2px #000;
  font: 10px/20px Verdana, Geneva, sans-serif;
}
footer p a {
  color: #cba;
  text-decoration: none;
}
